@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d6dbdc;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
  }
  .marker {
    @apply absolute inset-0 top-0 left-0 w-full h-full opacity-25;
  }
  .vertical-text {
    writing-mode: vertical-lr;
  }
}
